        h3 {
          margin-top: 70px;
        }
        .center_div{
          margin: 0 auto;
          width:80% /* value of your choice which suits your alignment */
        }

        /* The switch - the box around the slider */
        .switch {
          position: relative;
          display: inline-block;
          width: 60px;
          height: 34px;
        }

        /* Hide default HTML checkbox */
        .switch input {display:none;}

        /* The slider */
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: .4s;
          transition: .4s;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
        }

        input:checked + .slider {
          width: 60px;
          height: 34px;
        }

        /* Hide default HTML checkbox */
        .switch input {display:none;}

        /* The slider */
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: .4s;
          transition: .4s;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
        }

        input:checked + .slider {
          background-color: #2196F3;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
        }

        /*Login Form*/
        .login-form {
          width: 340px;
          margin: 50px auto;
        }
        .login-form form {
          margin-bottom: 15px;
          /**background: #f7f7f7;**/
          background: #A53444;
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          padding: 30px;
        }
        .login-form h2 {
          margin: 0 0 15px;
        }
        .form-control, .btn {
          min-height: 38px;
          border-radius: 2px;
        }
        .btn {        
          font-size: 15px;
          font-weight: bold;
        }

        .centerheader {
          text-align: center;
          margin-top: 50px;
        }

        .redalert {
          color: red;
        }

        .greenalert {
          color: green;
        }

        .redalert2 {
          color: red;
          text-align: center;
          margin=top: 20px;
        }

        .greenalert2 {
          color: green;
          text-align: center;
          margin=top: 20px;
        }

        body {
          background-color: #1A1A1C;
          color: white;
          font-family: oswald;
        }

        nav {
          background-color: #B32742;
        }

        .navbar a {
          color: white;
        }

        .navbar a:hover {
          color: #1A1A1C;
        }

        .navbar-toggler {
          color: rgba(0,0,0,.5);
          border-color: rgba(0,0,0,.1);
        }

        .navbar-toggler-icon{
          background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
        }

        .dropdown-item {
          color: black !important;
        }
